/* сбрасываем свойства */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


img {
    max-width: 100%;
    height: auto;
}

*,
*:before,
*:after { box-sizing: border-box }

body {
    width: 100%;
    font: 400 16px/1.375 "Arial", sans-serif;
    color: #333333;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.center {
    width: 69.4444%; /* 100px ÷ 1440px = 0,6944444444444444 */
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrap { background-color: rgba(40,47,55,0.8) }

.footer-wrap { background-color: #313841 }

.header-wrapper {
    background: url(../img/icons-bg.png) no-repeat rgba(40,47,55,1);
    background-size: cover;
}



.responsive-wrap,
.showcase-portfolio-wrap,
.comments-wrap { background: #f1f2f3 }

.blog-wrap {
    background: url(..//img/bg-blog.png) repeat-y;
    background-size: 100%;
}

.showcase-portfolio-wrap { border: 1px solid white }

.btn {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    text-decoration: none;
    padding: 5px 10px;
    color: #303940;
    font-size: 14px;
    font-weight: bold;
    background: #ffee00;
}

.btn:active {
    background-image: -webkit-linear-gradient(bottom, #e1613e, #d74632);
    background-image: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px 0 #942718;
}

.btn:hover {
    background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 2px 2px 0 #ac1000;
}

h1 { font-size: 60px }

h2 { font-size: 48px }

h3 { font-size: 36px }

/* header */

.page-header a {
    color: white;
    text-decoration: none;
}

.header-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding:0;
}

.header-logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.header-logo img{
    margin-right: 10px;
}



.header-logo p {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 1%;
    vertical-align: middle;
}

.header-menu-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.header-menu {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.header-menu .active {
    background-color: #ffee00;
    border-radius: 5px;
}

.header-menu .active a {
    color: black;
    padding: 10px;
}

.header-menu li { display: inline-block }

.header-menu li:hover {
    background-color: #313841;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #495565;
}

.header-menu a { padding: 10px }

.header-menu a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-form {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
}

.user-block {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
}

.user-block:hover .icon-user { background: #495565 }

.user-block:hover .user-form { display: block }

.user-block:after,
.icon-share:after  {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 40px;
    height: 60px;
}

.icon-user {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 35px;
    background: #313841;
}

.icon-user img {
    position: absolute;
    top: 25%;
    left: 25%;
}

.user-form {
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 275px;
    height: 175px;
    background: white;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
}

.user-form button { float: left }

.user-form input {
    display: inline-block;
    width: 240px;
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.user-form a {
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    margin-left: 15px;
}

.icon-share {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    background: #313841;
}

.share-form {
    display: none;
    position: absolute;
    top: 40px;
    left: -25px;
    width: 200px;
    height: 100px;
    z-index: 100;
    border-radius: 5px;
}


.icon-share:hover .share-form { display: block }

.icon-share:hover { background: #495565 }

.icon-share img {
    position: absolute;
    top: 25%;
    left: 25%;
}

.search {
    display: inline-block;
    position: relative;
    width: 68%;
    height: 35px;
    background: white;
    border-radius: 5px;
    vertical-align: top;
}

.search input {
    display: inline-block;
    width: 82.5%;
    height: 33px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

.search img {
    position: relative;
    width: auto;
    height: auto;
    top: 25%;
    right: 0;
}

.icon-search {
    position: absolute;
    background-color: #ffee00;
    width: 19%;
    height: 35px;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
}

.slide {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.slide .promo-h { color: white }

.slide .promo-h span {
    display: block;
    line-height: 40px;
    font-size: 21px;
    color: #b5b8bb;
    font-weight: normal;
}

.slider1 img {
    width: 100%;
    margin-bottom: -5px;
}

.slider-block-head {
    display: block;
    position: relative;
}

.slider-controls {
    position: absolute;
    top: 65%;
    width: 100%;
}

.slider-check { display: none }

.slider-label1 {
    display: block;
    position: absolute;
    right: -100px;
}

.slider-label1:hover span.slider1-btn,
.slider-label2:hover span.slider2-btn { background: yellow }

.slider-label1:hover span.slider1-btn:after,
.slider-label2:hover span.slider2-btn:after {
    border: 3px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
}

.slider-label1 .slider1-btn,
.slider-label2 .slider2-btn {
    display: inline-block;
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    background: #495565;
    border-radius: 50%;
    z-index: 50;
}

.slider-label1 .slider1-btn:before,
.slider-label2 .slider2-btn:before {
    display: block;
    width: 65px;
    height: 65px;
    background: #313841;
    border-radius: 50%;
}

.slider-label2 .slider2-btn:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slider-label1 .slider1-btn:after,
.slider-label2 .slider2-btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 35%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
}

.slider-label2 .slider2-btn:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slider-label1 .slider1-btn:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.slider-label2 {
    display: block;
    position: absolute;
    left: -100px;
}

.slider-check-1:checked ~ .slider-controls span.slider1-btn,
.slider-check-2:checked ~ .slider-controls span.slider2-btn {
    opacity: 0.2;
    -webkit-transition: 2s;
    transition: 2s;
}

.slider-check-1:checked ~  .slider1,
.slider-check-2:checked ~  .slider2 { display: block }

.slider-check-1:checked ~  .slider2,
.slider-check-2:checked ~  .slider1 { display: none }

.format {
    display: inline-block;
    width: 32%;
    padding: 40px 40px 60px 40px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.format img { width: 100% }

.format  h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    line-height: 56px;
    color: #363f48;
}

.format  p {
    font-size: 14px;
    line-height: 21px;
    color: #55606e;
}

.format.iphone { position: relative }

.format.iphone:before {
    top: 25%;
    left: 0;
}

.format.iphone:after,
.format.iphone:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20%;
    background-color: #c1c2c2;
}

.format.iphone:after {
    top: 25%;
    right: 0;
}

.promo {
    text-align: center;
    padding: 0;
}

.promo .image-wrap img {
    position: relative;
    height: 20%;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: auto;
}

.promo  .promo-text {
    display: block;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    color: #55606e;
}

.promo  .promo-h {
    display: block;
    width: 100%;
    margin: 0;
    font-weight: bold;
    line-height: 72px;
    color: #363f48;
}

.promo  .price {
    vertical-align: middle;
    margin-bottom: 45px;
    text-align: left;
    font-weight: normal;
    color: #363f48;
}

.promo .first {
    width: 100%;
    height: 100%;
}

.content {
    display: table;
    width: 100%;
}

.image-wrap {
    display: table-cell;
    height: 100px;
    width: 60%;
    vertical-align: bottom;
}

.price {
    display: table-cell;
    padding-left: 3%;
    width: 40%;
    height: 100%;
}

.price  span.height {
    font-size: 18px;
    font-weight: bold;
    line-height: 56px;
}

.price  .price-p {
    font-size: 18px;
    line-height: 24px;
}

.price  span {
    font-size: 13px;
    line-height: 21px;
    color: #55606e;
}

.showcase {
    text-align: center;
    padding: 0;
    position: relative;
}

.showcase .slider-controls {
    position: absolute;
    top: 45%;
    width: 100%;
}

.showcase .slide-portfolio {
    display: inline-block;
    width: 20%;
    margin: 2%;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.showcase  .showcase-text {
    display: block;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    color: #55606e;
}

.showcase .slider-label1 {
    display: block;
    position: absolute;
    right: -100px;
}

.showcase .slider-label1:hover span.slider1-btn,
.showcase .slider-label2:hover span.slider2-btn { background: yellow }

.showcase .slider-label1:hover span.slider1-btn:after,
.showcase .slider-label2:hover span.slider2-btn:after {
    border: 3px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
}

.showcase .slider-label1 .slider1-btn,
.showcase .slider-label2 .slider2-btn {
    display: inline-block;
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    background: #495565;
    border-radius: 50%;
    z-index: 50;
}

.showcase .slider-label1 .slider1-btn:before,
.showcase .slider-label2 .slider2-btn:before {
    display: block;
    width: 65px;
    height: 65px;
    background: #313841;
    border-radius: 50%;
}

.showcase .slider-label1 .slider1-btn:after,
.showcase .slider-label2 .slider2-btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 35%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
}

.showcase .slider-label1 .slider1-btn:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.showcase  .showcase-h {
    display: block;
    margin: 0;
    font-weight: bold;
    line-height: 72px;
    color: #363f48;
}

.showcase .slides {
    display: inline-block;
    width: 100%;
}

.slide-portfolio .slide-h {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #363f48;
}

.slide-portfolio .slide-h:hover {
    color: #3ea5ce;
    cursor: pointer;
    font-weight: bold;
}

.slide-portfolio .slide-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #55606e;
}

.slider-portfolio-1 .image {
    width: 100%;
    height: 150px;
    background: url(../img/flat-ui.png) 50% 50% no-repeat;
    background-size: cover;
}

.slider-portfolio-2 .image {
    width: 100%;
    height: 150px;
    background: url(../img/icons-troke.png) 50% 50% no-repeat;
    background-size: cover;
}

.slider-portfolio-3 .image {
    width: 100%;
    height: 150px;
    background: url(../img/loqui-ui.png) 50% 50% no-repeat;
    background-size: cover;
}

.slider-portfolio-4 .image {
    width: 100%;
    height: 150px;
    background: url(../img/music-store.png) 50% 50% no-repeat;
    background-size: cover;
}

.slide-portfolio p {
    padding: 0;
    margin: 0;
    display: none;
    vertical-align: middle;
    width: 100%;
    line-height: 151px;
}

.slide-portfolio p img { vertical-align: middle }

.slide-portfolio .image:hover p {
    display: block;
    background: rgba(255,238,0,0.75);
    cursor: pointer;
}

.projects {
    text-align: center;
    padding: 0;
}

.projects  .projects-text {
    display: block;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    color: #55606e;
}

.projects  .projects-h {
    display: block;
    margin: 0;
    font-weight: bold;
    line-height: 72px;
    color: #363f48;
}

.projects .post-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #55606e;
}

.projects .post-h {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #363f48;
}

.projects .post-h:hover {
    color: #3ea5ce;
    cursor: pointer;
    font-weight: bold;
}

.projects-post .post {
    width: 29%;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    float: left;
}

.projects-post .post img { width: 100% }

.projects-post .post-1,
.projects-post .post-3 { background: #f1f2f3 }

.projects-post .post-3 img.player {
    position: relative;
    top: -50px;
}

.projects-post .post-3 .post-h {
    margin-top: -20px;
    padding: 0;
}

.projects-post .post-4 { margin-top: 30px }

.projects-post .post-4 .post-p {
    position: relative;
    padding: 5px 0;
    height: 100%;
    font-size: 15px;
    line-height: 28px;
    font-style: italic;
    color: white;
    font-family: "Georgia","arial";
    background: #495565;
    border-radius: 5px;
}

.projects-post .post-4 .post-p:after {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 2%;
    width: 2%;
    left: 10%;
    border: 10px solid #ffffff;
    border-left-color: #495565;
    border-top-color: #495565;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.projects-post .post-4 .author {
    margin-top: 0px;
    text-align: left;
    font-size: 14px;
}

.projects-post .post-4 .author span {
    color: #3ea5ce;
    font-weight: bold;
}

.projects-post .post-4 .quote {
    margin-top: -15px;
    height: 100%;
}

.projects-post .post-2 {
    width: 28%;
    margin: 0 6%;
}

.blog {
    display: table;
    height: 100%;
}

.blog-posts {
    display: table-cell;
    width: 68%;
    background: #f1f2f3;
    text-align: left;
    padding: 0;
}

.blog-posts img.list-stile {
    float: right;
    position: relative;
    top: 22px;
    right: 8.6%;
    margin-left: 5%;
}

.blog-posts  .blog-text {
    display: block;
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
    font-style: italic;
    color: #55606e;
}

.blog-posts  .blog-h {
    display: block;
    margin: 0;
    font-weight: bold;
    line-height: 72px;
    color: #363f48;
}

.blogpost {
    width: 42%;
    font-weight: bold;
    float: left;
}

.blogpost .author span {
    color: #3ea5ce;
    font-weight: bold;
}

.blogpost .promo-text {
    font-size: 14px;
    line-height: 56px;
    color: #55606e;
}

.blogpost .blog-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #55606e;
}

.blogpost .blog-h {
    font-size: 18px;
    line-height: 24px;
    color: #363f48;
}

.blogpost .blog-h:hover {
    color: #3ea5ce;
    cursor: pointer;
    font-weight: bold;
}

.blogpost img { width: 100% }

.blog-post-1 { margin-right: 8.6% }

.blog-navigation {
    display: table-cell;
    position: relative;
    width: 31%;
    height: 100%;
    background: #495565;
}

.search-form {
    display: inline-block;
    position: relative;
    width: 68%;
    height: 35px;
    margin-top: 8.6%;
    margin-left: 25px;
    background: white;
    border-radius: 5px;
    vertical-align: top;
}

.search-form input {
    display: inline-block;
    width: 82.5%;
    height: 33px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

.search-form img {
    position: relative;
    width: auto;
    height: auto;
    top: 25%;
    left: 25%;
}

.icon-search-2 {
    position: absolute;
    background-color: #ffee00;
    width: 19%;
    height: 35px;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
}

.blog-menu {
    display: inline-block;
    width: 100%;
    height: 80%;
    padding-left: 25px;
    font-weight: bold;
    color: white;
}

.blog-menu .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-menu .menu-list li.active a { color: yellow }

.blog-menu .menu-list li {
    position: relative;
    padding: 10px 25px;
    border-bottom: 1px solid #78818c;
}

.blog-menu .menu-list li:hover:before,
.blog-menu .menu-list li.active:before { display: block }

.blog-menu .menu-list li:first-child,
.blog-menu .menu-list li:last-child { border-bottom: none }

.blog-menu .menu-list li:hover a {
    text-decoration: none;
    color: #a8adb5;
}

.blog-menu .menu-list li:before {
    content: "";
    display: none;
    position: absolute;
    top: 25%;
    left: -35px;
    height: 1%;
    background: #495565;
    border: 10px solid #495565;
    border-bottom-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.blog-menu .menu-list li a {
    text-decoration: none;
    color: white;
}

.blog-menu .slider {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: #313841;
    border-radius: 50%;
}

.blog-menu .slider:before {
    display: block;
    position: absolute;
    left: 60%;
    top: 25%;
    width: 30px;
    height: 30px;
    background: #313841;
    border-radius: 50%;
}

.blog-menu .slider:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 25%;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.blog-menu h4 {
    display: inline-block;
    font-size: 21px;
    line-height: 56px;
    text-align: center;
}

.top-bar-wrap { 
    background-color: rgba(40,47,55,0.8);
}

.top-bar  {
    padding: 10px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.top-bar .bar-h {
    display: inline-block;
    margin: 10px;
    color: white;
}

.top-bar .bar-h  {
    color: white;
}

.blog-button {
    float: right;
}

.top-bar .btn {
    margin-left: 20px;
    line-height: 36px;
    background: #495565;
    box-shadow: 0px 0px 0px 1px #495565;
    color: white;
}

.top-bar .btn { display: inline-block }

.top-bar .btn:hover {
    background: yellow;
    color: black;
}

.post-info .blog-h { width: 80% }

.post-info .promo-text {
    color: #55606e;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
}

.post-info .count {
    display: inline-block;
    width: 35px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: url(../img/comm-count.png) 50% 50% no-repeat;
    background-size: 100%;
}

.post-info .author-top {
    color: #3ea5ce;
    font-weight: bold;
}

.post-info .post-image {
    width: 100%;
    margin-top: 20px;
}

.post-info .image-text {
    color: #55606e;
    font-size: 21px;
    line-height: 36px;
}

.post-info .post-text {
    color: #55606e;
    font-size: 16px;
    line-height: 24px;
}

.post-info .post-text b {
    color: #363f48;
    font-size: 24px;
    font-weight: bold;
}

.post-info-bottom {
    width: 100%;
    display: inline-block;
}

.post-info img {
    width: 16%;
    vertical-align: middle;
}

.post-info .author {
    margin-left: 5%;
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    text-align: center;
    color: #55606e;
    font-size: 24px;
}

.post-info .author b {
    color: #363f48;
    font-size: 32px;
    font-weight: bold;
}

.post-info-btn {
    display: inline-block;
    width: 42%;
    vertical-align: middle;
}

.post-info-btn .btn img { width: 34% }

.post-info-btn .btn-tw { background: #3ea5ce }

.post-info-btn .slider {
    display: inline-block;
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    background: #d9d9d9;
    border-radius: 50%;
}

.post-info-btn .slider:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 40%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.post-info-btn .btn-fb { background: #6b5da0 }

.post-info-btn a {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.float {
    float: right;
    text-align: center;
}

.post-info-btn.slider:before {
    display: block;
    width: 65px;
    height: 65px;
    background: #313841;
    border-radius: 50%;
}

.btn-slider:hover p.slider { background: yellow }

.btn-slider:hover p.slider:after {
    border: 3px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
}

.btn-slider:hover p.slider:after {
    border: 3px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
}

.comments .comments-h3 {
    display: inline-block;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid #d8d9da;
}

.comments .count {
    display: inline-block;
    width: 55px;
    height: 70px;
    margin-right: 10px;
    text-align: center;
    color: white;
    background: url(../img/comm-count-big.png) 100% 0% no-repeat;
    background-size: 100%;
}

.comment .comment-text {
    display: inline-block;
    vertical-align: middle;
    background: white;
    width: 84%;
    padding: 0px 20px;
    margin-left: 6%;
}

.comment .comment-text .comment-p {
    display: inline-block;
    margin: 0;
    padding: 0px 0px 20px;
}

.comment .comments-h {
    display: inline-block;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    color: #363f48;
}

.comment .comments-h .btn-reply {
    float: right;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    color: #55606e;
}

.comment .comments-h span {
    margin-left: 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #55606e;
}

.comment .sub-comment {
    margin: 30px 0;
    float: right;
    width: 84%;
}

.comment  img {
    width: 10%;
    vertical-align: top;
}

.comment .comment-text { width: 83% }

.comments .live-comments-h {
    display: inline-block;
    line-height: 72px;
    width: 100%;
    border-top: 1px solid #d8d9da;
}

.live-comments { position: relative }

.comments form {
    display: inline-block;
    width: 64%;
    margin-bottom: 40px;
}

.comments form  .btn-reply {
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    color: #55606e;
    border: none;
}

.comments form .comment {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
}

.comments form .email {
    margin: 0;
    margin-left: 8.5%;
}

.comments form input {
    display: inline-block;
    width: 45%;
    margin: 20px 0;
    padding: 10px;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.06);
}

.comments .btn-slider {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.comments .btn-slider:hover p.slider { background: yellow }

.comments .btn-slider .slider {
    display: inline-block;
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    background: #d9d9d9;
    border-radius: 50%;
}

.comments .btn-slider.slider:before {
    display: block;
    width: 65px;
    height: 65px;
    background: #313841;
    border-radius: 50%;
}

.btn-slider .slider:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 40%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.contact-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact-us .contact-h {
    text-align: center;
    line-height: 36px;
}

.contact-us .contact-h span {
    font-size: 16px;
    color: #55606e;
    font-weight: normal;
}

.contact {
    display: inline-block;
    position: relative;
    padding: 10px 0px 10px 10px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.contact  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #55606e;
}

.contact  p a {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #3ea5ce;
}

.contact  p b {
    font-size: 21px;
    line-height: 21px;
    color: #363f48;
}


.contact.address p,
.contact span {
    font-size: 18px;
    font-weight: bold;
    color: #363f48;
}


.contact.phone:before {
    top: 25%;
    left: 0;
}

.contact.phone:after {
    top: 25%;
    right: 0;
}

.address { 
    position: relative;
}

.address img {
    position: absolute;
    top: 25px;
    left: -50px;
}

.contact.phone { position: relative }

.map-wrap {
    width: 100%;
    bottom: 0;
}

.map-center {
    width: 100%;
    position: relative;
    bottom: 0px;
}

.map img {
    width: 100%;
    height: auto;
}

/*footer*/

.footer-copyright {
    display: block;
    padding: 35px;
    text-align: center;
    position: relative;
}

.footer-copyright .btn-slider.slider:before {
    display: block;
    width: 65px;
    height: 65px;
    background: #313841;
    border-radius: 50%;
}

.footer-copyright .slider:after {
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 40%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.footer-copyright .btn-slider {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 20px;
}

.footer-copyright .btn-slider:hover p.slider { background: yellow }

.footer-copyright .btn-slider .slider {
    display: inline-block;
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    background: #2a3037;
    border-radius: 50%;
}

.footer-copyright p {
    color: white;
    font-size: 14px;
    line-height: 32px;
}

.footer-copyright p span { color: yellow }

@media screen and (min-width: 1000px) and (max-width: 1300px) { 
    .format h4 { line-height: 22px }

    .comment .comment-text { width: 90% }

    .comment  img { width: 10% }

    .map-center { bottom: -20px }
}

@media screen and (max-width: 900px) { 
    .slide .promo-h { font-size: 32px }

    .slide .promo-h span { font-size: 16px }

    .slider-label1 { right: -70px }

    .slider-label2 { left: -70px }

    .format {
        display: block;
        width: 100%;
    }

    .format img { width: 30% }

    .format h4 { line-height: 22px }

    .slider-label1 .slider1-btn:after,
    .slider-label2 .slider2-btn:after {
        width: 15px;
        height: 15px;
    }

    .slider-label1 .slider1-btn,
    .slider-label2 .slider2-btn,
    .slider-label1 .slider1-btn:before,
    .slider-label2 .slider2-btn:before {
        width: 45px;
        height: 45px;
    }

    .format.iphone:after,
    .format.iphone:before { display: none }

    .image-wrap { display: table-row }

    .promo .image-wrap img {
        width: 50%;
        height: auto;
    }

    .promo  .price p {
        text-align: center;
        line-height: 22px;
    }

    .top-bar .bar-h {
        line-height: 28px;
    }

    .top-bar .bar-h .btn {
        line-height: 24px;
    }

    .blog-posts { display: table-row }

    .blogpost { text-align: center }

    .blogpost img {
        text-align: center;
        width: 100%;
    }

    .blogpost {
        text-align: center;
        width: 100%;
    }

    .blog-navigation { display: table-row }

    .contact {
        display: block;
        width: 100%;
        text-align: center;
    }

    .contact-us .contact-h {
        text-align: center;
        line-height: 22px;
    }

    .address { padding-left: 0px }

    .address img {
        position: relative;
        top: 20px;
        width: 10%;
    }

    .address img {
      display: none;
  }

  .comment .comment-text { width: 100% }

  .comment  img { width: 10% }

  .comment .sub-comment { width: 84% }

  .comment .sub-comment .comment-text { width: 100% }

  .comment  img { width: 10% }

  .comments form {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.comments form .email {
    margin: 0;
    margin-bottom: 10px;
}

.comments form input {
    width: 100%;
    padding-top: 10px;
}

.map-center { bottom: -20px }
}



@media screen and (max-width: 700px) { 
    h1 {
        font-size: 48px;
        line-height: 26px;
    }

    h2 {
        font-size: 36px;
        line-height: 26px;
    }

    h3 {
        font-size: 28px;
        line-height: 26px;
    }
    
    .header-top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding:20px 0;
    }

    .header-menu-wrap {
        display: block;
        padding:20px 0;
    }

    .header-menu-wrap--close {
        display: none;
    }

    .header-menu-wrap--no-js {
        display: block;
    }

    .header-logo {
        text-align: center;
        float: left;
        position: relative;
        margin: 0;
        width: 30%;
        cursor:pointer;
    }

    .header-menu {
        top:10px;
        width: 100%;
        margin: 0;
    }

    .header-menu li {
        display: inline-block;
        width: 100%;
    }

    .header-form {
        margin: 0;
        padding-top: 5px;
        width: 100%;
    }

    .user-form {
        left: -50px;
        width:200px;
        height:200px;
    }

    .user-form input {
    width: 160px;
}

    .share-form {
        left: -50px;
    }


    .slide .promo-h { font-size: 22px }

    .slide .promo-h span {
        font-size: 14px;
        line-height: 22px;
    }

    .slider-label1 { right: -40px }

    .slider-label1 .slider1-btn:after,
    .slider-label2 .slider2-btn:after {
        width: 10px;
        height: 10px;
    }

    .slider-label1 .slider1-btn,
    .slider-label2 .slider2-btn,
    .slider-label1 .slider1-btn:before,
    .slider-label2 .slider2-btn:before {
        width: 35px;
        height: 35px;
    }

    .slider-label2 { left: -40px }

    .format {
        display: block;
        width: 100%;
    }

    .format img { width: 50% }

    .format  h4 {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: -10px;
        vertical-align: middle;
    }

    .format  p { float: right }

    .format.iphone:after,
    .format.iphone:before { display: none }

    .promo  .promo-h {
        font-size: 24px;
        line-height: 28px;
    }

    .image-wrap { display: table-row }

    .promo .image-wrap img {
        width: 50%;
        height: auto;
    }

    .price {
        display: table-row;
        text-align: center;
    }

    .price  span.height { line-height: 26px }

    .promo  .price p {
        text-align: center;
        line-height: 22px;
    }

    .showcase  .showcase-h { line-height: 26px }

    .showcase .slide-portfolio {
        width: 100%;
        margin: 0;
    }

    .showcase .slider-label1 { right: -40px }

    .showcase .slider-label1 .slider1-btn:after,
    .showcase .slider-label2 .slider2-btn:after {
        width: 10px;
        height: 10px;
    }

    .showcase .slider-label1 .slider1-btn,
    .showcase .slider-label2 .slider2-btn,
    .showcase .slider-label1 .slider1-btn:before,
    .showcase .slider-label2 .slider2-btn:before {
        width: 35px;
        height: 35px;
    }

    .showcase .slider-label2 { left: -40px }

    .projects-post { display: table }

    .projects-post .post-4 { display: block }

    .projects-post .post {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        margin-top: 10px;
    }

    .projects-post .post img { width: 70% }

    .projects  .projects-h { line-height: 26px }

    .blog-posts { display: table-row }

    .blogpost {
        text-align: center;
        width: 100%;
    }

    .blog-navigation { display: table-row }

    .top-bar .bar-h { 
        text-align: center;
        line-height: 24px;
    }

    .top-bar .btn {
        line-height: 24px;
        margin-top:10px;
    }

    .post-info .blog-h {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }

    .post-info .author { width: 55% }

    .post-info-btn { width: 100% }

    .float {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .comments .count {
        width: 55px;
        height: 80px;
        background: url(../img/comm-count-big.png) 100% 0% no-repeat;
        background-size: 100%;
    }

    .comments .comments-h3 { line-height: 52px }

    .comment .comment-text { width: 100% }

    .comment  img { width: 20% }

    .comments .live-comments-h {
        display: inline-block;
        padding-top: 10px;
        line-height: 24px;
        text-align: center;
    }

    .comments form {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }

    .comments form .email {
        margin: 0;
        margin-bottom: 10px;
    }

    .comments form input {
        width: 100%;
        padding-top: 10px;
    }

    .contact {
        text-align: center;
    }

    .contact-us .contact-h {
        text-align: center;
        line-height: 22px;
    }


    .contact.phone:after,
    .contact.phone:before { display: none }

    .footer-copyright { padding: 0px }

    .footer-copyright .btn-slider.slider:before {
        width: 25px;
        height: 25px;
    }

    .footer-copyright .slider:after {
        top: 40%;
        width: 10px;
        height: 10px;
    }

    .footer-copyright .btn-slider {
        right: -20px;
        bottom: -10px;
    }

    .footer-copyright .btn-slider .slider {
        width: 25px;
        height: 25px;
    }

    .map-wrap {
        width: 100%;
        bottom: 0;
    }

    .map-center { bottom: -20px }
}